body .dark {
  background-color: #110038;
}

body .dark #title {
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

body .dark #title h1 {
  color: #FFFFFF;
}

body .dark #buttonZone #buttonOne {
  background-color: #EE3EFE;
  color: #FFFFFF;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #buttonZone #buttonOne:active, body .dark #buttonZone #buttonOne:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #buttonZone #buttonOne a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}

body .dark #buttonZone #buttonTwo {
  cursor: pointer;
}

body .dark #buttonZone #buttonTwo #buttonChooseTheme {
  background-color: #EE3EFE;
  color: #FFFFFF;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #buttonZone #buttonTwo #buttonChooseTheme:active, body .dark #buttonZone #buttonTwo #buttonChooseTheme:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #buttonZone #buttonTwo #dropDown {
  background-color: #EE3EFE;
  color: #FFFFFF;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #buttonZone #buttonTwo #dropDown:active, body .dark #buttonZone #buttonTwo #dropDown:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #buttonZone #menuThemes {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

body .dark #buttonZone #menuThemes .day {
  background-color: #FFF4FD;
  border: #CCA6C9 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .dark #buttonZone #menuThemes .day:hover {
  color: #FFFFFF;
  background-color: #2E32FB;
  border: #33358F 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #buttonZone #menuThemes .night {
  background-color: #F0F0F0;
  border: #808080 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .dark #buttonZone #menuThemes .night:hover {
  background-color: #2E32FB;
  color: #FFFFFF;
  border: #33358F 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #linkMyGifos {
  color: #FFFFFF;
}

body .dark #linkMyGifos:hover {
  outline: 1px dotted #8F8F8F;
  outline-offset: -4px;
}

body .dark #linkMyGifos:active {
  color: #8F8F8F;
}

body .dark #searchBox {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
}

body .dark #searchBox #searchBoxTitle {
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: inset 2px 0 0 0 #B4B4B4, inset 0 4px 0 0 #B4B4B4, inset -2px 0 0 0 #B4B4B4;
          box-shadow: inset 2px 0 0 0 #B4B4B4, inset 0 4px 0 0 #B4B4B4, inset -2px 0 0 0 #B4B4B4;
  border-right: solid 1px #8F8F8F;
}

body .dark #searchBox h2 {
  padding-left: 6px;
  color: #FFFFFF;
  border-top: solid 2px #FFFFFF;
}

body .dark #searchBox #mySearch {
  padding-left: 16px;
  caret-color: #4180F6;
  color: #110038;
  border: solid 1px #979797;
  -webkit-box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #E6E6E6;
          box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #E6E6E6;
}

body .dark #searchBox #mySearch::-webkit-input-placeholder {
  color: #B4B4B4;
}

body .dark #searchBox #mySearch:-ms-input-placeholder {
  color: #B4B4B4;
}

body .dark #searchBox #mySearch::-ms-input-placeholder {
  color: #B4B4B4;
}

body .dark #searchBox #mySearch::placeholder {
  color: #B4B4B4;
}

body .dark #searchBox #buttonSearch {
  background-color: #B4B4B4;
  color: #8F8F8F;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #searchBox #buttonSearch:active {
  background-color: #CE36DB;
  border: #110038 solid 1px;
  -webkit-box-shadow: inset -1px -1xp 0 0 #A72CB3, inset 1px1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1xp 0 0 #A72CB3, inset 1px1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #searchBox #buttonSearch:active #buttonContent {
  color: #FFFFFF;
}

body .dark #searchBox #buttonSearch:active #buttonContent #mGlassLight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark #searchBox #buttonSearch:active #buttonContent #mGlassImageDark {
  display: none;
}

body .dark #searchBox #buttonSearch #buttonContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .dark #searchBox #buttonSearch #buttonContent #mGlassImage {
  display: none;
}

body .dark #searchBox #buttonSearch #buttonContent #mGlass {
  display: none;
}

body .dark #searchBox #buttonSearch #buttonContent #mGlassLight {
  display: none;
}

body .dark #searchBox #buttonSearch #buttonContent #mGlassImageDark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark #searchBox #buttonSearchInput {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .dark #subMenuSearch {
  background-color: #B4B4B4;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

body .dark #subMenuSearch button {
  background-color: #B4B4B4;
  color: #B4B4B4;
}

body .dark #subMenuSearch #Result1 {
  color: #110038;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #subMenuSearch #Result1:hover {
  background-color: #CCCCCC;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #subMenuSearch #Result2 {
  color: #110038;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #subMenuSearch #Result2:hover {
  background-color: #CCCCCC;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #subMenuSearch #Result3 {
  color: #110038;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #subMenuSearch #Result3:hover {
  background-color: #CCCCCC;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #suggestions #suggest {
  width: 82.9%;
  padding-left: 7px;
  border: solid 1px #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
  caret-color: #4180F6;
  color: #110038;
}

body .dark #suggestions #suggest::-webkit-input-placeholder {
  color: #110038;
}

body .dark #suggestions #suggest:-ms-input-placeholder {
  color: #110038;
}

body .dark #suggestions #suggest::-ms-input-placeholder {
  color: #110038;
}

body .dark #suggestions #suggest::placeholder {
  color: #110038;
}

body .dark #gifSuggest .borderShadowGif {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
}

body .dark #gifSuggest .borderShadowGif img:hover {
  outline: 1px dotted #110038;
  outline-offset: -1px;
}

body .dark #gifSuggest p {
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

body .dark #gifSuggest .buttonCloseGif {
  background-image: url(../../Images/button3.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-top: solid 1px #FFFFFF;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #FFFFFF;
}

body .dark #gifSuggest .seeMoreButton {
  color: #FFFFFF;
  background-color: #4180F6;
  border: solid 1px #4C2F99;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
}

body .dark #gifSuggest .seeMoreButton:hover {
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

body .dark #trendsSection #trends {
  width: 82.9%;
  padding-left: 7px;
  border: solid 1px #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
  caret-color: #4180F6;
  color: #110038;
}

body .dark #trendsSection #trends::-webkit-input-placeholder {
  color: #110038;
}

body .dark #trendsSection #trends:-ms-input-placeholder {
  color: #110038;
}

body .dark #trendsSection #trends::-ms-input-placeholder {
  color: #110038;
}

body .dark #trendsSection #trends::placeholder {
  color: #110038;
}

body .dark .trendsCharge img:hover {
  outline: 1px dotted #110038;
  outline-offset: -1px;
}

body .dark .trendsCharge #gifSuggest5 {
  background-color: #B4B4B4;
}

body .dark .trendsCharge #gifSuggest5:hover {
  margin-right: 0.3478%;
  width: 20.4461%;
  height: 304px;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark .trendsCharge #gifSuggest5:hover img {
  position: relative;
  z-index: 1;
  left: 3px;
  bottom: 18px;
  height: 100%;
  width: 97.2778%;
}

body .dark .trendsCharge #gifSuggest5:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark .trendsCharge #gifSuggest5 p {
  color: #FFFFFF;
  -webkit-transform: translateY(277px);
          transform: translateY(277px);
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

body .dark .trendsCharge .secondaryTrendsCharge {
  background: #B4B4B4;
}

body .dark .trendsCharge .secondaryTrendsCharge:hover {
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  margin-right: 0.3478%;
  width: 20.4461%;
  height: 304px;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark .trendsCharge .secondaryTrendsCharge:hover img {
  position: absolute;
  z-index: 1;
  left: 4px;
  bottom: 2px;
  height: 98%;
  width: 97.2778%;
}

body .dark .trendsCharge .secondaryTrendsCharge:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark .trendsCharge .secondaryTrendsCharge p {
  color: #FFFFFF;
  -webkit-transform: translateY(277px);
          transform: translateY(277px);
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

body .dark .trendsCharge .bigLeftTrendsCharge {
  background: #B4B4B4;
  color: #FFFFFF;
}

body .dark .trendsCharge .bigLeftTrendsCharge:hover {
  margin-right: 0.3478%;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  width: 41.5865%;
  height: 304px;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark .trendsCharge .bigLeftTrendsCharge:hover img {
  position: absolute;
  z-index: 1;
  width: 99%;
  height: 98%;
  top: 3px;
  left: 3px;
}

body .dark .trendsCharge .bigLeftTrendsCharge:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark .trendsCharge .bigLeftTrendsCharge p {
  -webkit-transform: translateY(275px);
          transform: translateY(275px);
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

body .dark .trendsCharge .bigRightTrendsCharge {
  background: #B4B4B4;
  color: #FFFFFF;
}

body .dark .trendsCharge .bigRightTrendsCharge:hover {
  margin-right: 0.3478%;
  margin-left: 0.3478%;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  width: 41.5865%;
  height: 304px;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark .trendsCharge .bigRightTrendsCharge:hover img {
  position: absolute;
  z-index: 1;
  width: 99%;
  height: 98%;
  top: 3px;
  left: 3px;
}

body .dark .trendsCharge .bigRightTrendsCharge:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark .trendsCharge .bigRightTrendsCharge p {
  -webkit-transform: translateY(275px);
          transform: translateY(275px);
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}
/*# sourceMappingURL=sailorNight.css.map */