body .dark {
  background-color: #110038;
}

body .dark #title {
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

body .dark #title h1 {
  color: #FFFFFF;
}

body .dark #content #buttonZone #logotipe {
  display: none;
}

body .dark #content #buttonZone .darkLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 50%;
  width: 91px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
}

body .dark #content #buttonZone #buttonOne {
  background-color: #EE3EFE;
  color: #FFFFFF;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #buttonZone #buttonOne:active, body .dark #content #buttonZone #buttonOne:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #content #buttonZone #buttonOne a {
  text-decoration: none;
  color: #FFFFFF;
}

body .dark #content #buttonZone #buttonTwo #buttonChooseTheme {
  background-color: #EE3EFE;
  color: #FFFFFF;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #buttonZone #buttonTwo #buttonChooseTheme:active, body .dark #content #buttonZone #buttonTwo #buttonChooseTheme:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #content #buttonZone #buttonTwo #dropDown {
  background-color: #EE3EFE;
  color: #FFFFFF;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #buttonZone #buttonTwo #dropDown img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

body .dark #content #buttonZone #buttonTwo #dropDown:active, body .dark #content #buttonZone #buttonTwo #dropDown:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #content #buttonZone #menuThemes {
  right: 16.3%;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

body .dark #content #buttonZone #menuThemes .day {
  background-color: #FFF4FD;
  border: #CCA6C9 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .dark #content #buttonZone #menuThemes .day:hover {
  color: #FFFFFF;
  background-color: #2E32FB;
  border: #33358F 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #buttonZone #menuThemes .night {
  background-color: #F0F0F0;
  border: #808080 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .dark #content #buttonZone #menuThemes .night:hover {
  background-color: #2E32FB;
  color: #FFFFFF;
  border: #33358F 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #linkMyGifos {
  color: #FFFFFF;
}

body .dark #content #linkMyGifos:hover {
  outline: 1px dotted #8F8F8F;
  outline-offset: -4px;
}

body .dark #content #linkMyGifos:active {
  color: #8F8F8F;
}

body .dark #content #searchBox {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
}

body .dark #content #searchBox #searchBoxTitle {
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: inset 2px 0 0 0 #B4B4B4, inset 0 4px 0 0 #B4B4B4, inset -2px 0 0 0 #B4B4B4;
          box-shadow: inset 2px 0 0 0 #B4B4B4, inset 0 4px 0 0 #B4B4B4, inset -2px 0 0 0 #B4B4B4;
  border-right: solid 1px #8F8F8F;
  border-top: white solid 2px;
}

body .dark #content #searchBox h2 {
  position: relative;
  margin-top: 3px;
  margin-bottom: 12px;
  height: 24px;
  padding-left: 6px;
  color: #FFFFFF;
}

body .dark #content #searchBox #mySearch {
  padding-left: 16px;
  caret-color: #4180F6;
  color: #110038;
  border: solid 1px #979797;
  -webkit-box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #E6E6E6;
          box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #E6E6E6;
}

body .dark #content #searchBox #mySearch::-webkit-input-placeholder {
  color: #B4B4B4;
}

body .dark #content #searchBox #mySearch:-ms-input-placeholder {
  color: #B4B4B4;
}

body .dark #content #searchBox #mySearch::-ms-input-placeholder {
  color: #B4B4B4;
}

body .dark #content #searchBox #mySearch::placeholder {
  color: #B4B4B4;
}

body .dark #content #searchBox #buttonSearch {
  background-color: #B4B4B4;
  color: #8F8F8F;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #searchBox #buttonSearch:active {
  background-color: #CE36DB;
  border: #110038 solid 1px;
  -webkit-box-shadow: inset -1px -1xp 0 0 #A72CB3, inset 1px1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1xp 0 0 #A72CB3, inset 1px1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #content #searchBox #buttonSearch:active #buttonContent {
  color: #FFFFFF;
}

body .dark #content #searchBox #buttonSearch:active #buttonContent #mGlassLight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark #content #searchBox #buttonSearch:active #buttonContent #mGlassImageDark {
  display: none;
}

body .dark #content #searchBox #buttonSearch #buttonContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .dark #content #searchBox #buttonSearch #buttonContent #mGlassImage {
  display: none;
}

body .dark #content #searchBox #buttonSearch #buttonContent #mGlass {
  display: none;
}

body .dark #content #searchBox #buttonSearch #buttonContent #mGlassLight {
  display: none;
}

body .dark #content #searchBox #buttonSearch #buttonContent #mGlassImageDark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark #content #searchBox #buttonSearchInput {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .dark #content #subMenuSearch {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  -webkit-transform: translateY(71%);
          transform: translateY(71%);
  margin-left: 0px;
}

body .dark #content #subMenuSearch button {
  background-color: #B4B4B4;
  color: #B4B4B4;
}

body .dark #content #subMenuSearch #Result1 {
  color: #110038;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #subMenuSearch #Result1:hover {
  background-color: #CCCCCC;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #content #subMenuSearch #Result2 {
  color: #110038;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #subMenuSearch #Result2:hover {
  background-color: #CCCCCC;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #content #subMenuSearch #Result3 {
  color: #110038;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

body .dark #content #subMenuSearch #Result3:hover {
  background-color: #CCCCCC;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .dark #content #buttonsContainer button {
  color: #FFFFFF;
  background-color: #2E32FB;
  border: #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, 2px 2px 0 0 #FFFFFF;
}

body .dark #content #suggestions #suggest {
  padding-left: 7px;
  border: solid 1px #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
  caret-color: #4180F6;
  color: #110038;
}

body .dark #content #suggestions #suggest::-webkit-input-placeholder {
  color: #110038;
}

body .dark #content #suggestions #suggest:-ms-input-placeholder {
  color: #110038;
}

body .dark #content #suggestions #suggest::-ms-input-placeholder {
  color: #110038;
}

body .dark #content #suggestions #suggest::placeholder {
  color: #110038;
}

body .dark #content #gifSuggest .borderShadowGif {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
}

body .dark #content #gifSuggest .borderShadowGif img:hover {
  outline: 1px dotted #110038;
  outline-offset: -1px;
}

body .dark #content #gifSuggest p {
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

body .dark #content #gifSuggest .buttonCloseGif {
  background-image: url(../../Images/button3.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-top: solid 1px #FFFFFF;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #FFFFFF;
}

body .dark #content #gifSuggest .seeMoreButton {
  color: #FFFFFF;
  background-color: #4180F6;
  border: solid 1px #4C2F99;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
}

body .dark #content #gifSuggest .seeMoreButton:hover {
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

body .dark #content #trendsSection #trends {
  padding-left: 7px;
  border: solid 1px #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
  caret-color: #4180F6;
  color: #110038;
}

body .dark #content #trendsSection #trends::-webkit-input-placeholder {
  color: #110038;
}

body .dark #content #trendsSection #trends:-ms-input-placeholder {
  color: #110038;
}

body .dark #content #trendsSection #trends::-ms-input-placeholder {
  color: #110038;
}

body .dark #content #trendsSection #trends::placeholder {
  color: #110038;
}

body .dark #content .trendsCharge .chargeSmall:hover {
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -2px;
}

body .dark #content .trendsCharge .chargeSmall:hover img {
  width: 97.7%;
}

body .dark #content .trendsCharge .chargeSmall:hover p {
  width: 96.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark #content .trendsCharge .chargeSmall p {
  color: #FFFFFF;
  -webkit-transform: translateY(277px);
          transform: translateY(277px);
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

body .dark #content .trendsCharge .bigLeftTrendsCharge {
  color: #FFFFFF;
}

body .dark #content .trendsCharge .bigLeftTrendsCharge:hover {
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  width: 50%;
  outline: 1px dotted #110038;
  outline-offset: -2px;
}

body .dark #content .trendsCharge .bigLeftTrendsCharge:hover img {
  width: 99%;
}

body .dark #content .trendsCharge .bigLeftTrendsCharge:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .dark #content .trendsCharge .bigLeftTrendsCharge p {
  padding-left: 2px;
  -webkit-transform: translateY(275px);
          transform: translateY(275px);
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

body .dark #content .trendsCharge .bigRightTrendsCharge {
  color: #FFFFFF;
}

body .dark #content .trendsCharge .bigRightTrendsCharge:hover {
  margin-right: 0.3478%;
  margin-left: 0.3478%;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  width: 50%;
  height: 298px;
  outline: 1px dotted #110038;
  outline-offset: -2px;
}

body .dark #content .trendsCharge .bigRightTrendsCharge:hover img {
  position: absolute;
  z-index: 1;
  width: 98.8%;
  top: 4px;
  left: 4px;
}

body .dark #content .trendsCharge .bigRightTrendsCharge:hover p {
  width: 98.6%;
  padding-left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .dark #content .trendsCharge .bigRightTrendsCharge p {
  -webkit-transform: translateY(275px);
          transform: translateY(275px);
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}
/*# sourceMappingURL=sailorNight.css.map */