// @import './Styles/IndexSailorDay/sailorDay.scss', './Styles/IndexSailorNight/sailorNight.scss';
$primaryfont: "Chakra Petch";

body {
    margin: 0%;
    padding: 0%;
    border: 0%;

    //THIS SECTION CONTENT THE TOP BAR WITH ITS GRADIENT STYLE
    #title {
        display: flex;
        align-items: center;
        width: 100%;
        height: 23px;

        h1 {
            font-size: 12px;
            margin-left: 0.4867%;
            font-family: $primaryfont;
            font-weight: 400;
        }
    }

    #content {
        margin-right: 9.7%;
        margin-left: 7.2%;

        //THIS SECTION CONTENT LOGO GIFOS- BUTTONS CREATE GIFOS AND SELECT THEME AND MIS GUIFOS LINK 
        #buttonZone {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            height: 118px;

            #logotipe {
                cursor: pointer;
                align-self: center;
                margin-right: 50%;
                width: 91px;
                grid-column-start: 1;
                grid-column-end: 1;
            }

            .darkLogo {
                display: none;
            }

            div {
                display: flex;
                justify-content: flex-end;

                // THESE ARE THE STYLES OF THE CREATE GUIFOS BUTTON
                #buttonOne {
                    cursor: pointer;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    margin-right: 1.1137%;
                    height: 36px;
                    width: 144px;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $primaryfont;
                    grid-column-start: 2;
                    grid-column-end: 2;                   
                }

                //THESE ARE THE STYLES OF THE CONTAINER AND ITS ELEMENTS THEME BUTTON AND THE DROPDOWN BUTTON
                #buttonTwo {
                    cursor: pointer;
                    align-self: center;
                    display: flex;
                    height: 36px;
                    width: 167px;
                    border: none;
                    background-color: transparent;
                    padding: 0px;
                    grid-column-start: 2;
                    grid-column-end: 2;

                    #buttonChooseTheme {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: 77%;
                        height: 34px;
                        padding: 0%;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: $primaryfont;
                    }

                    #dropDown {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: 22.22%;
                        height: 34px;
                        padding: 0%;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: $primaryfont;
                    }
                }

                #menuThemes {
                    display: none;
                    position: absolute;
                    top: 89px;
                    right: 16.5%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 12.5%;
                    height: 102px;
                    padding-left: 0px;
                    list-style: none;

                    .day {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: 150px;
                        height: 36px;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: $primaryfont;
                    }

                    .night {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: 150px;
                        height: 36px;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: $primaryfont;
                    }
                }
            }

            a {
                display: flex;
                margin-left: 1.1474%;
                grid-column-start: 2;
                grid-column-end: 2;
            }

            #linkMyGifos {
                display: flex;
                justify-content: flex-end;
                align-self: center;
                width: 85px;
                font-size: 16px;
                font-weight: 400;
                font-family: $primaryfont;
                grid-column-start: 2;
                grid-column-end: 2;
            }
        }

        #searchBox {
            height: 99px;

            #searchBoxTitle {
                width: 99.6%;
                margin-left: 0.25%;
            }

            h2 {
                display: flex;
                align-items: center;
                font-family: $primaryfont;
                font-weight: bold;
                font-size: 14px;
                height: 24px;
                width: 100%;
            }

            #formSearch {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            #mySearch {
                font-size: 16px;
                font-family: $primaryfont;
                font-weight: 400;
                width: 88.08%;
                height: 48px;
                margin-left: 15px;
                list-style: lower-alpha;
            }

            &::placeholder {
                padding-left: 1.3333%;
                font-size: 16px;
                font-family: $primaryfont;
                font-weight: 400;
            }
        }

        //THESE ARE THE STYLES OF THE SEARCH BUTTON AND THE CLASS WHOSE STYLES ARE APPLIED WHEN THE USER ARE ENTERING A TEXT FOR SEARCH
        #buttonSearch {
            cursor: pointer;
            text-align: center;
            margin-left: 8px;
            width: 102px;
            height: 36px;
            font-size: 16px;
            font-family: $primaryfont;
            font-weight: 400;

            #buttonContent {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                #mGlassImageDark {
                    display: none;
                }

                #mGlass {
                    display: none;
                }

                #mGlassLight {
                    display: none;
                }
            }
        }

        #buttonSearchInput {
            text-align: center;
            margin-left: 8px;
            width: 8.5%;
            height: 36px;
            font-size: 16px;
            font-weight: 400;
            font-family: $primaryfont;
        }


        //THESE ARE THE STYLES OF THE SUBMENU THAT IS SHOWN AFTER THE CLICK OVER THE SEARCH BUTTON
        #subMenuSearch {
            display: none;
            position: absolute;
            z-index: 2;
            flex-direction: column;
            width: 83%;
            height: 160px;
            transform: translateY(74%);
            margin-left: 1px;

            button {
                cursor: pointer;
                width: 88%;
                height: 34px;
                margin-left: 1.3333%;
                font-size: 16px;
                font-family: $primaryfont;
            }

            #Result1 {
                margin-top: 17px;
                text-align: left;
            }

            #Result2 {
                text-align: left;
                margin-top: 11px;
            }

            #Result3 {
                text-align: left;
                margin-top: 10px;
            }
        }

        #buttonsContainer {
            display: none;
            overflow: hidden;
            height: 34px;
            margin-top: 12px;
            padding-left: 20px;

            button {
                float: left;                
                width: 120px;
                height: 36px;
                font-size: 14px;
                font-weight: 400;
                font-family: $primaryfont;
            }
        }

        #suggestions {

            #suggest {
                height: 32px;
                width: 99.4%;
                margin-top: 76px;
                font-size: 16px;
                font-family: $primaryfont;
                font-weight: 400;

                &::placeholder {
                    font-size: 14px;
                    font-family: $primaryfont;
                    font-weight: 400;
                }
            }
        }

        #gifSuggest {
            display: flex;
            flex-direction: row;
            margin-top: 19px;

            #gifSuggest1,
            #gifSuggest2,
            #gifSuggest3 {
                margin-right: 18px;
            }

            .borderShadowGif {
                width: 25%;
                height: 313px;

                img {
                    position: relative;
                    right: 30px;
                    bottom: 47px;
                    left: 4px;
                    height: 280px;
                    width: 97.22277%;
                }
            }

            p {
                font-size: 14px;
                font-family: $primaryfont;
                font-weight: 700;
                width: 97.22277%;
                height: 24px;
                margin-top: 4px;
                margin-left: 1.3943%;
            }

            .buttonCloseGif {
                cursor: pointer;
                position: relative;
                z-index: 4;
                bottom: 43px;
                left: 90.9775%;
                width: 16px;
                height: 14px;
                margin-right: 1.786%;
            }

            .seeMoreButton {
                cursor: pointer;
                position: relative;
                z-index: 5;
                font-size: 14px;
                font-family: $primaryfont;
                font-weight: 400;
                top: 223px;
                right: 8px;
                width: 81px;
                height: 34px;
            }
        }

        #trendsSection {
            #trends {
                display: flex;
                align-items: stretch;
                align-content: stretch;
                width: 99.4%;
                height: 32px;
                margin-top: 68px;
                font-size: 16px;
                font-family: $primaryfont;
                font-weight: 400;

                &::placeholder {
                    font-size: 14px;
                    font-family: $primaryfont;
                    font-weight: 400;
                }
            }
        }

        .trendsCharge {
            margin-top: 17px;
            display: flex;

            img {
                position: relative;
                right: 30px;
                bottom: 0px;
                left: 0px;
                height: 298px;
                width: 100%;
            }

            //THESE ARE THE STYLES OF THE TRENDS SECTION

            .chargeSmall {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 0%;
                margin-left: 0%;
                height: 298px;
                width: 25%;

                img {
                    position: absolute;
                    z-index: 1;
                    height: 97%;
                    width: 97%;
                    left: 4px;
                    bottom: 5px;
                }

                p {
                    display: none;
                    align-items: center;
                    position: absolute;
                    z-index: 4;
                    width: 95.5%;
                    height: 24px;
                    font-size: 14px;
                    font-family: $primaryfont;
                    font-weight: 700;
                    bottom: 268px;
                    padding-left: 3px;
                }
            }

            //THESE ARE THE STYLES OF THE ELEMENTS WHERE THE BIGGER GIFS WILL SHOW, THOSE WHO ARE POSITIONED IN THE LEFT MARGIN
            .bigLeftTrendsCharge {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 50%;
                height: 298px;
                margin-right: 8px;
                margin-left: 0%;
                font-size: 14px;
                font-weight: 700;
                font-family: $primaryfont;

                img {
                    position: absolute;
                    z-index: 1;
                    height: 97%;
                    width: 100%;
                    left: 4px;
                    bottom: 5px;
                }

                p {
                    display: none;
                    position: relative;
                    z-index: 5;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    margin-left: 0.7%;
                    height: 24px;
                    width: 98.7%;
                    bottom: 5px;
                }
            }

            //THESE ARE THE STYLES OF THE ELEMENTS WHERE THE BIGGER GIFS WILL SHOW, THOSE WHO ARE POSITIONED IN THE RIGHT MARGIN
            .bigRightTrendsCharge {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 50%;
                height: 298px;
                margin-right: 6px;
                font-size: 14px;
                font-weight: 700;
                font-family: $primaryfont;

                img {
                    position: absolute;
                    z-index: 1;
                    height: 97%;
                    width: 100%;
                    left: 4px;
                    bottom: 5px;
                }

                p {
                    display: none;
                    position: relative;
                    z-index: 5;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    margin-left: 0.7%;
                    height: 24px;
                    width: 98.7%;
                    bottom: 5px;
                }
            }
        }
    }
}