body {
  margin: 0%;
  padding: 0%;
  border: 0%;
}

body #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 23px;
}

body #title h1 {
  font-size: 12px;
  margin-left: 0.4867%;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content {
  margin-right: 9.7%;
  margin-left: 7.2%;
}

body #content #buttonZone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  height: 118px;
}

body #content #buttonZone #logotipe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 50%;
  width: 91px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
}

body #content #buttonZone div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #content #buttonZone div #buttonOne {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.1137%;
  height: 36px;
  width: 144px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
}

body #content #buttonZone div #buttonOne a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body #content #buttonZone div #buttonTwo {
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  width: 167px;
  border: none;
  background-color: transparent;
  padding: 0px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
}

body #content #buttonZone div #buttonTwo #buttonChooseTheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 77%;
  height: 34px;
  padding: 0%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

body #content #buttonZone div #buttonTwo #dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 22.22%;
  height: 34px;
  padding: 0%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

body #content #buttonZone div #menuThemes {
  display: none;
  position: absolute;
  top: 89px;
  right: 15.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.82%;
  height: 102px;
  padding-left: 0px;
  list-style: none;
}

body #content #buttonZone div #menuThemes .day {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

body #content #buttonZone div #menuThemes .night {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

body #content #buttonZone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.1474%;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
}

body #content #buttonZone #linkMyGifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  width: 85px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
}

body #content #searchBox {
  height: 99px;
}

body #content #searchBox #searchBoxTitle {
  width: 99.6%;
  margin-left: 0.25%;
}

body #content #searchBox h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Chakra Petch";
  font-weight: bold;
  font-size: 14px;
  height: 24px;
  width: 100%;
}

body #content #searchBox #formSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #searchBox #mySearch {
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
  width: 88.08%;
  height: 48px;
  margin-left: 15px;
  list-style: lower-alpha;
}

body #content #searchBox::-webkit-input-placeholder {
  padding-left: 1.3333%;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #searchBox:-ms-input-placeholder {
  padding-left: 1.3333%;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #searchBox::-ms-input-placeholder {
  padding-left: 1.3333%;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #searchBox::placeholder {
  padding-left: 1.3333%;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #buttonSearch {
  text-align: center;
  margin-left: 8px;
  width: 8.5%;
  height: 36px;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #buttonSearch #buttonContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #content #buttonSearch #buttonContent #mGlassImageDark {
  display: none;
}

body #content #buttonSearch #buttonContent #mGlass {
  display: none;
}

body #content #buttonSearch #buttonContent #mGlassLight {
  display: none;
}

body #content #buttonSearchInput {
  text-align: center;
  margin-left: 8px;
  width: 8.5%;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

body #content #subMenuSearch {
  position: relative;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 160px;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  display: none;
}

body #content #subMenuSearch button {
  width: 87.9166%;
  height: 34px;
  margin-left: 1.3333%;
  font-size: 16px;
  font-family: "Chakra Petch";
}

body #content #subMenuSearch #Result1 {
  margin-top: 17px;
  text-align: left;
}

body #content #subMenuSearch #Result2 {
  text-align: left;
  margin-top: 11px;
}

body #content #subMenuSearch #Result3 {
  text-align: left;
  margin-top: 10px;
}

body #content #suggestions #suggest {
  height: 32px;
  width: 99.4%;
  margin-top: 76px;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #suggestions #suggest::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #suggestions #suggest:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #suggestions #suggest::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #suggestions #suggest::placeholder {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #gifSuggest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 19px;
}

body #content #gifSuggest #gifSuggest1,
body #content #gifSuggest #gifSuggest2,
body #content #gifSuggest #gifSuggest3 {
  margin-right: 18px;
}

body #content #gifSuggest .borderShadowGif {
  width: 25%;
  height: 313px;
}

body #content #gifSuggest .borderShadowGif img {
  position: relative;
  right: 30px;
  bottom: 47px;
  left: 4px;
  height: 280px;
  width: 97.22277%;
}

body #content #gifSuggest p {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 700;
  width: 97.22277%;
  height: 24px;
  margin-top: 4px;
  margin-left: 1.3943%;
}

body #content #gifSuggest .buttonCloseGif {
  position: relative;
  z-index: 4;
  bottom: 43px;
  left: 90.9775%;
  width: 16px;
  height: 14px;
  margin-right: 1.786%;
}

body #content #gifSuggest .seeMoreButton {
  position: relative;
  z-index: 5;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
  top: 223px;
  right: 8px;
  width: 81px;
  height: 34px;
}

body #content #trendsSection #trends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 99.4%;
  height: 32px;
  margin-top: 68px;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #trendsSection #trends::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #trendsSection #trends:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #trendsSection #trends::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content #trendsSection #trends::placeholder {
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #content .trendsCharge {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #content .trendsCharge img {
  position: relative;
  right: 30px;
  bottom: 0px;
  left: 0px;
  height: 298px;
  width: 100%;
}

body #content .trendsCharge .chargeSmall {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0%;
  margin-left: 0%;
  height: 298px;
  width: 25%;
}

body #content .trendsCharge .chargeSmall img {
  position: absolute;
  z-index: 1;
  height: 97%;
  width: 97%;
  left: 4px;
  bottom: 5px;
}

body #content .trendsCharge .chargeSmall p {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 4;
  width: 95.5%;
  height: 24px;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 700;
  bottom: 268px;
  padding-left: 3px;
}

body #content .trendsCharge .bigLeftTrendsCharge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 50%;
  height: 298px;
  margin-right: 8px;
  margin-left: 0%;
  font-size: 14px;
  font-weight: 700;
  font-family: "Chakra Petch";
}

body #content .trendsCharge .bigLeftTrendsCharge img {
  position: absolute;
  z-index: 1;
  height: 97%;
  width: 100%;
  left: 4px;
  bottom: 5px;
}

body #content .trendsCharge .bigLeftTrendsCharge p {
  display: none;
  position: relative;
  z-index: 5;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 0.7%;
  height: 24px;
  width: 98.7%;
  bottom: 5px;
}

body #content .trendsCharge .bigRightTrendsCharge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 50%;
  height: 298px;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Chakra Petch";
}

body #content .trendsCharge .bigRightTrendsCharge img {
  position: absolute;
  z-index: 1;
  height: 97%;
  width: 100%;
  left: 4px;
  bottom: 5px;
}

body #content .trendsCharge .bigRightTrendsCharge p {
  display: none;
  position: relative;
  z-index: 5;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 0.7%;
  height: 24px;
  width: 98.7%;
  bottom: 5px;
}
/*# sourceMappingURL=index.css.map */