body {
  margin: 0%;
  padding: 0%;
  background-color: #faf1f9;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  width: 100%;
  height: 23px;
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

#title h1 {
  font-size: 12px;
  margin-left: 0.4867%;
  font-family: "Chakra Petch";
  font-weight: 400;
  color: #FFFFFF;
}

#buttonZone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 118px;
}

#buttonZone #logotipe {
  text-align: center;
  margin-left: 6.9%;
  margin-top: 35px;
  margin-bottom: 19px;
}

#buttonZone #buttonOne {
  display: block;
  width: 144px;
  height: 36px;
  background-color: #F7C9F3;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  margin-left: 47.6%;
  margin-top: 44px;
  margin-bottom: 38px;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#buttonZone #buttonTwo {
  display: block;
  width: 131px;
  height: 36px;
  background-color: #F7C9F3;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  margin-left: 16px;
  margin-top: 44px;
  margin-bottom: 38px;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#buttonZone #themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  background-color: #F7C9F3;
  margin-left: 0px;
  margin-top: 44px;
  margin-bottom: 38px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../Images/dropdown.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#buttonZone p {
  margin-right: 83, 4492%;
  margin-left: 1.147%;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

#searchBox {
  background-color: #E6E6E6;
  width: 83.4492%;
  height: 99px;
  margin-left: 6.9%;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
}

#searchBox #searchBoxTitle {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: inset 2px 0 0 0 #E6E6E6, inset 0 4px 0 0 #E6E6E6, inset -2px 0 0 0 #E6E6E6;
          box-shadow: inset 2px 0 0 0 #E6E6E6, inset 0 4px 0 0 #E6E6E6, inset -2px 0 0 0 #E6E6E6;
  border-right: #B4B4B4 2px;
  width: 99.5%;
  margin-left: 0.25%;
}

#searchBox h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Chakra Petch";
  font-weight: bold;
  font-size: 14px;
  height: 24px;
  width: 100%;
  border-top: #FFFFFF solid 2px;
}

#searchBox form #formSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchBox form #mySearch {
  width: 88.08%;
  height: 48px;
  margin-left: 15px;
  border: solid 1px #979797;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
          box-shadow: inset -1px -1px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
}

#searchBox form #mySearch::-webkit-input-placeholder {
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#searchBox form #mySearch:-ms-input-placeholder {
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#searchBox form #mySearch::-ms-input-placeholder {
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#searchBox form #mySearch::placeholder {
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#searchBox form #buttonSearch {
  text-align: center;
  margin-left: 8px;
  width: 8.5%;
  height: 36px;
  background-color: #E6E6E6;
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#searchBox form #buttonSearch #buttonContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#subMenuSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 160px;
  background-color: #E6E6E6;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  display: none;
}

#subMenuSearch button {
  background-color: #E6E6E6;
  width: 87.9166%;
  height: 34px;
  margin-left: 1.3333%;
}

#subMenuSearch #resultSearch {
  margin-top: 17px;
}

#subMenuSearch #similarResult {
  margin-top: 11px;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#subMenuSearch #otherOne {
  margin-top: 10px;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#suggestions #suggest {
  height: 32px;
  width: 83.17%;
  margin-left: 6.9%;
  margin-top: 76px;
  border: solid 1px #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
}

#suggestions #suggest::-webkit-input-placeholder {
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
}

#suggestions #suggest:-ms-input-placeholder {
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
}

#suggestions #suggest::-ms-input-placeholder {
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
}

#suggestions #suggest::placeholder {
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
}

#gifSugget {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 19px;
}

#gifSugget #gifSugget1 {
  margin-left: 6.955%;
  margin-right: 12px;
  height: 280px;
  width: 19.4720%;
}

#gifSugget #gifSugget1 img {
  height: 280px;
  width: 100%;
}

#gifSugget #gifSugget2 {
  margin-left: 12px;
  margin-right: 12px;
  height: 280px;
  width: 19.4720%;
}

#gifSugget #gifSugget2 img {
  height: 280px;
  width: 100%;
}

#gifSugget #gifSugget3 {
  margin-left: 12px;
  margin-right: 12px;
  height: 280px;
  width: 19.4720%;
}

#gifSugget #gifSugget3 img {
  height: 280px;
  width: 100%;
}

#gifSugget #gifSugget4 {
  margin-left: 12px;
  margin-right: 12px;
  height: 280px;
  width: 19.4720%;
}

#gifSugget #gifSugget4 img {
  height: 280px;
  width: 100%;
}

#trendsSection #trends {
  width: 83.44%;
  height: 32px;
  margin-top: 68px;
  margin-left: 6.9541%;
  border: solid 1px #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
}

#trendsSection #trends::-webkit-input-placeholder {
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
}

#trendsSection #trends:-ms-input-placeholder {
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
}

#trendsSection #trends::-ms-input-placeholder {
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
}

#trendsSection #trends::placeholder {
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weight: 400;
}

.trendsCharge {
  margin-left: 6.955%;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trendsCharge .trendsFirstCharge {
  margin-right: 12px;
  margin-left: 0%;
  height: 280px;
  width: 20.927%;
}

.trendsCharge img {
  margin-left: 12px;
  margin-right: 12px;
  height: 280px;
  width: 20.927%;
}

.trendsCharge div img {
  margin-left: 12px;
  margin-right: 12px;
  height: 280px;
  width: 20.927%;
}
/*# sourceMappingURL=Styles.css.map */