body{
    margin: 0%;
    padding: 0%;
    border: 0%;    
    background-color: #ffffff;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 80px;
}
#logohead {
    margin-left: 0px;
    margin-top: 22px;    
}
#logohead img {
    width: 36px;
    height: 36px;
    padding-left: 20.83%;
}
#menu {
    display: grid;
    justify-content: end;
    padding-right: 7.51%;
}
#burger
{
    display: none;
}
#menu label[for="burger"]{
    display: none;
}
#menu #close{
    display: none;
}
.submenu ul {
    list-style: none;    
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 28px;
    height: 224px;
       
}
.submenu ul li {     
    padding-right: 48px;
    font-weight: 500; 
}
.submenu ul li a {
    text-decoration: none;
    color: #060A24;
}/*
.submenu ul li a:active {    
    text-decoration: line-through;
    color: #060A24 56%;
}*/
.submenu ul li a:hover {
    color: #00F3BB;
}
h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0px;
    line-height: 42px;
    width: 100%;
    padding-left: 13.9%;
    margin-top: 120px;
    margin-bottom: 20px;
}
h2{
    display: none;
}
#world
{
    text-decoration: line-through;
}
#point {
    color: #0000EC;
}
#p-desktop
{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    padding-left: 13.9%;
    text-align: justify;
    color: #060A24;
}
#p-mobile   {
    display: none;
}
.conoce{
    background-color: #00F3BB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 56px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 22px;
    margin-left: 13.9%;
    margin-top: 42px;
    margin-bottom: 5px;
    color: #060A24;
    text-decoration: none;
    font-weight: bold;    
}
.conoce:hover{
    background:linear-gradient(to left, #0000FE,#00F0B8) ;
    color: #FFFFFF;
}
#episodes{
    width: 100%;
    height: 1042.6px;
    position: relative;
    background-image: linear-gradient(to bottom left, #0000FF, #0000A3);
    
}
svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}
#triangle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vw;
    transform: rotate(180deg);
}
#titulo {
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    padding-top: 12.94%;
    padding-bottom: 1.81%;
    padding-left: 13.9%;    
}
.spotify    {
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   width: 100%; 
}
.episoderight{
    margin-right: 5%;
    margin-left: 13.88%;
    padding-bottom: 10.01%;      
}
.episodeleft{
    margin-right: 13.88%;
    margin-left: 5%;
}
#where_we_from
{
    position: absolute;
    width: 100%;
    height: 92%;
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 1;
}
#where_we_from #img_woman{
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 1;
   grid-row-end: 1;
}
#phone{
   
   width: 63.55%;
   padding-right: 8.68%;
   padding-left: 27.77%;
   transform: translateY(-185px);
   
}
#where_we_from #paragraph_our{
   grid-column-start: 2;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 1;
}
#we_desktop{
    color: #060A24;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    width: 55.41%;
}
#we_mobile{
    display: none;
}

#paragraph_our #text_desktop{   
   color: #060A24;
   font-family: 'IBM Plex Mono', monospace;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   width: 64.44%;
}
#text_mobile{
    display: none;
}
#interviews{
    padding-top: 40%;
    padding-left: 13.88%;
}
#interviews h3{
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-weight: 400;
}
#special_guest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#special_guest img{
    width: 33.33%;
    height: 364px;
}
#topics{ 
    padding-left: 13.88%;
}
#topics h5{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 62px;
    font-weight: 400;
    margin-top: 15.8%;
    margin-top: 12.2%;    
}
#images_topics
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 13.88%;
    padding-left: 13.88%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #060A24;
    text-align: center;
}
#informatics_security{
    display: none;
}
#news{
    width: 100%;
    height: 518px;
    position: relative;
    background-image: linear-gradient(to bottom left, #0000FF, #0000A3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#want{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}
#listen{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    color: #060A24;
    text-align: center;
    line-height: 24px;
    background-color: #00F3BB;
    width: 23.95%;
    height: 56px;
    margin-top: 36px;
    text-decoration: none;
}
#listen:hover{
    background:linear-gradient(to left, #0000FE,#00F0B8) ;
    color: #FFFFFF;
}
footer{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    line-height: 28px;
    height: 85px;
}
footer div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6.94%;

}
#icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
    
}
#icons a{
    color: #060A24;
    padding-right: 3.88%;
}  
/*


#novedades
{
    width: 320px;
    height: 341px;
    background-image: linear-gradient(170deg, #ffffff 5%, #0000FF 0%, #0000A3 95%);
}

*/
@media only screen and (max-width: 600px) {
    
    header {
        height: 44px;
        grid-template-columns: 1fr 1fr;
    }
    #logohead {

        margin-left: 0px;
        margin-top: 10px;        
    }
    #logohead img {
        width: 24px;
        height: 24px;
        padding-left: 10%;
    }
    #menu {
        height: 44px;
    }
    #menu label[for="burger"]{
        display: block;
        margin-top: 13px;
        margin-right: 15px;
        display: grid;
        align-items: center;
        justify-items: end;
        margin: 0px;
        padding: 0px;
               
    }
   .submenu    {
        list-style: none;        
        position: absolute;
        background-color: #0000EC;
        top: 44px;
        left: -480px;    
    }
    .submenu ul {
        display: block;
        margin: 0px;
    }
    .submenu ul li    {
        padding: 16px 0px 18px 16px;
        font-size: 16px;    
        list-style: none;
        position: relative;
        left: -40px;
    }
    .submenu ul li a    {
        text-decoration: none;
        font-weight: 200;
        color: #ffffff;
        font-family: 'IBM Plex Mono', monospace;
    }
    #burger:checked ~ .submenu    {
        left: 0px;
        transition: all 2s;
        width: 100%;
    }
    #burger:checked ~ * #close{
        display: block;
    }
    #burger:checked ~ * img{
        display: none;
    }
    h1{
        display: none;
    }
    h2  {
        display: block;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0px;
        line-height: 42px;
        font-weight: 400;
        width: 100%;
        margin-bottom: 0px;
        padding-left: 5%;
    }
    #p-mobile   {
        display: block;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        line-height: 22px;
        margin-top: 5%;
        padding-left: 5%;
        text-align: justify;
        color: #060A24;
    }
    #p-desktop  {
        display: none;
    }
    .conoce {
        background-color: #00F3BB;    
        width: 90%;
        height: 48px;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        line-height: 22px;
        margin: 11.251% 5% 7.5% 5%;
        color: #060A24;
        text-decoration: none;
        font-weight: bold;   
    }    
    #episodes{
        width: 100%;
        height: 1231.5px;
    }
    #titulo {
        color: #ffffff;
        font-size: 36px;
        line-height: 42px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        padding: 20% 45.94% 6.567% 5%;
    }
    .spotify    {
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 100%; 
     }
    .spotify div{
        margin-right: 3.43%;
        padding-bottom: 3.43%;
        margin-left: 3.43%;
    }
    #where_we_from
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;      
    
    }
    #where_we_from #img_woman{
        width: 100%;
        height: 410px;
    }
    #phone{
   
        width: 100%;
        transform: translateY(-100px);
        padding: 0%;
    }
    #where_we_from #paragraph_our{
        width: 100%;       ;
    }
    #we_mobile{
        display: block;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        font-weight: 400;
        width: 100%;
        margin-top: 8.442%;
        margin-bottom: 0%;
        margin-left: 5%;
    }
    #we_desktop{
        display: none;
    }
    #text_mobile{
        display: block;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        margin-top: 2.5%;
        margin-left: 5%;
    }
    #text_desktop{
        display: none;
    }
    #interviews{
        padding-top: 243.75%;
        padding-left: 5%;    
    }
    #interviews h3{
        font-family: 'IBMPlexSans', sans-serif;
        font-size: 36px;
        font-weight: 400;
        color: #060A24;
        line-height: 42px;
        margin-top: 17.767%;
        margin-bottom: 4.61%;
    }
    #special_guest{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #special_guest img{
        width: 100%;
        height: 100%;
    }
    #topics{
        padding-left: 5%;
    }
    #topics h5{
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        font-size: 36px;
        font-weight: 400;
        margin-top: 15.79%;
        margin-bottom: 12.176%;
    }
    #images_topics{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding-right: 0%;
        padding-left: 0%;
        color: #060A24;
        text-align: center;
    }
    #images_topics div{
        padding-bottom: 20.313%;
    }
    #images_topics div:first-child{
        padding-bottom: 15.315%;
    }
    #images_topics div:last-child{
        padding-bottom: 13.128%;
    }
    #inf_sec_desktop{
        display: none;
    }
    #informatics_security{
        display: block;
    }
    #news{
        width: 100%;
        height: 341px;
        position: relative;
        background-image: linear-gradient(  #0000FF,#0000A3); /*to bottom left,*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #want{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color: #FFFFFF;
        text-align: center;
        line-height: 42px;
        padding-right: 3.12%;
        padding-left: 3.12%;
    }
    #listen{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        font-weight: 600;
        color: #060A24;
        text-align: center;
        line-height: 22px;
        background-color: #00F3BB;
        width: 90%;
        height: 48px;
    }
    footer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color: #060A24;
        line-height: 22px;
        height: 121px;
    }
    footer div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.13%;
        padding-left: 0%;        
    }
    #icons{
        display: flex;       
        justify-content: space-around;
        align-items: center;        
        margin-right: 9%;
        margin-bottom: 13.13%;
        margin-left: 9%;
    }
    #icons a{
        color: #060A24;
    }   
    #icons i{
        padding-right: 0%;   
        
        
    }
   
    
      
}