body
{
    border: 1px solid #000;
    margin: 0%;
    padding: 0%;
    border: 0%;    
    background-color: #ffffff;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 80px;
}
#logohead {
    margin-left: 100px;
    margin-top: 22px;    
}
#logohead img {
    width: 38px;
    height: 38px;
}
#menu {
    justify-self: end;
}
#burger
{
    display: none;
}
#menu label[for="burger"]{
    display: none;
}
.submenu {
    margin-right: 60px;
}
.submenu ul {
    list-style: none;    
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 28px;    
}
.submenu ul li {     
    padding-right: 28px;
}
.submenu ul li a {
    text-decoration: none;
    color: #060A24;
}







h1
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0px;
    padding-left: 16px;
    line-height: 42px;
    font-weight: lighter;
}
#world
{
    text-decoration: line-through;
}
#parrafo
{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    padding-left: 16px;
    color: #060A24;
}
.conoce
{
    background-color: #00F3BB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 48px;
    margin-left: 16px;    
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 22px;
}
.conoce a
{
    color: #060A24;
    text-decoration: none;
}
#episodios
{
    width: 320px;
    height: 1203.5px;
    background-image: linear-gradient(170deg, #ffffff 5%, #0000FF 0%, #0000A3 95%, #ffffff 5%);
}
#titulo
{
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 64px 147px 21px 16px;
}
.spotify
{
    display: flex;
    justify-content: center;
    padding-bottom: 11px;
    width: 320px;
}
#phone
{
    padding-top: 37px;
    padding-bottom: 27px;
    position: absolute;
    width: 320px;
    height: 519px;
}
#novedades
{
    width: 320px;
    height: 341px;
    background-image: linear-gradient(170deg, #ffffff 5%, #0000FF 0%, #0000A3 95%);
}


@media only screen and (max-width: 600px) {
    header {
        height: 44px;
        grid-template-columns: 1fr 1fr;
    }
    #logohead {
        margin-left: 16px;
        margin-top: 10px;        
    }
    #logohead img {
        width: 24px;
        height: 24px;
    }
    #menu {
        height: 44px;
    }
    #menu label[for="burger"]{
        display: block;
        margin-top: 13px;
        margin-right: 15px;
    }    
    .submenu
    {
        list-style: none;        
        position: absolute;
        background-color: #0000EC;
        top: 44px;
        left: -480px;    
    }
    .submenu ul {
        display: block;
        margin: 0px;
    }
    .submenu ul li
    {
        padding: 16px 0px 18px 16px;
        font-size: 16px;    
        list-style: none;
        position: relative;
        left: -40px;
    }
    .submenu ul li a 
    {
        text-decoration: none;
        color: #ffffff;
        font-family: 'IBM Plex Mono', monospace;
    }
    #burger:checked ~ .submenu
    {
        left: 0px;
        transition: all 1s;
        width: 100%;
    }
}