body {
  margin: 0%;
  padding: 0%;
  background-color: #110038;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  width: 100%;
  height: 23px;
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

#title h1 {
  font-size: 12px;
  margin-left: 0.4867%;
  font-family: "Chakra Petch";
  font-weight: 400;
  color: #FFFFFF;
}

#buttonZone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 118px;
}

#buttonZone #logotipe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 91px;
  margin-left: 6.3288%;
  padding-right: 0.2504;
  padding-left: 0.5565%;
}

#buttonZone #buttonOne {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1.1137%;
  margin-left: 47.6637%;
  height: 36px;
  width: 10.0140%;
  background-color: #EE3EFE;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
}

#buttonZone #buttonOne:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#buttonZone #buttonOne:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#buttonZone #buttonTwo {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 36px;
  width: 9.1098%;
  background-color: #EE3EFE;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #EE3EFE, inset 1px 1px 0 0 #FFFFFF;
}

#buttonZone #buttonTwo:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#buttonZone #buttonTwo:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#buttonZone #menuThemes {
  display: none;
  position: absolute;
  top: 84px;
  right: 15.7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #B4B4B4;
  width: 11.82%;
  height: 102px;
  padding-left: 0px;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  list-style: none;
}

#buttonZone #menuThemes a {
  text-decoration: none;
}

#buttonZone #menuThemes .day {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 36px;
  background-color: #FFF4FD;
  border: #CCA6C9 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  color: #110038;
}

#buttonZone #menuThemes .night {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 36px;
  background-color: #F0F0F0;
  border: #808080 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  color: #110038;
}

#buttonZone #themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 36px;
  height: 36px;
  background-color: #EE3EFE;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../../Images/forward.svg);
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  background-position: center;
  background-repeat: no-repeat;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px 0 0 0 #A72CB3, inset 1px 0 0 0 #FFFFFF, inset 0 -1px 0 0 #FFFFFF, inset 0 1px 0 0 #A72CB3;
          box-shadow: inset -1px 0 0 0 #A72CB3, inset 1px 0 0 0 #FFFFFF, inset 0 -1px 0 0 #FFFFFF, inset 0 1px 0 0 #A72CB3;
}

#buttonZone #themes:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#buttonZone #themes:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#buttonZone p {
  margin-right: 83, 4492%;
  margin-left: 1.147%;
  color: #FFFFFF;
  font-size: 100%;
  font-weight: 400;
  font-family: "Chakra Petch";
}

#searchBox {
  background-color: #B4B4B4;
  width: 83.45%;
  height: 99px;
  margin-left: 6.9%;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
}

#searchBox #searchBoxTitle {
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: inset 2px 0 0 0 #B4B4B4, inset 0 4px 0 0 #B4B4B4, inset -2px 0 0 0 #B4B4B4;
          box-shadow: inset 2px 0 0 0 #B4B4B4, inset 0 4px 0 0 #B4B4B4, inset -2px 0 0 0 #B4B4B4;
  border-right: solid 1px #8F8F8F;
  width: 99.5%;
  margin-left: 0.25%;
}

#searchBox h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Chakra Petch";
  font-weight: bold;
  font-size: 14px;
  height: 24px;
  width: 100%;
  border-top: solid 2px #FFFFFF;
}

#searchBox #formSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchBox #formSearch #mySearch {
  width: 88.08%;
  height: 48px;
  margin-left: 15px;
  border: solid 1px #979797;
  -webkit-box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #E6E6E6;
          box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #E6E6E6;
}

#searchBox #formSearch #mySearch::-webkit-input-placeholder {
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#searchBox #formSearch #mySearch:-ms-input-placeholder {
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#searchBox #formSearch #mySearch::-ms-input-placeholder {
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#searchBox #formSearch #mySearch::placeholder {
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#searchBox #formSearch #buttonSearch {
  text-align: center;
  margin-left: 8px;
  width: 8.5%;
  height: 36px;
  background-color: #B4B4B4;
  color: #8F8F8F;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#searchBox #formSearch #buttonSearch #buttonContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#subMenuSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 160px;
  background-color: #B4B4B4;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  display: none;
}

#subMenuSearch button {
  background-color: #B4B4B4;
  width: 87.9166%;
  height: 34px;
  margin-left: 1.3333%;
}

#subMenuSearch #resultSearch {
  margin-top: 17px;
}

#subMenuSearch #similarResult {
  margin-top: 11px;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

#subMenuSearch #otherOneResult {
  margin-top: 10px;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

#suggestions #suggest {
  height: 32px;
  width: 83.45%;
  margin-left: 6.9%;
  margin-top: 76px;
  border: solid 1px #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

#suggestions #suggest::-webkit-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#suggestions #suggest:-ms-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#suggestions #suggest::-ms-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#suggestions #suggest::placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#gifSuggest {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 19px;
}

#gifSuggest #gifSuggest1 {
  margin-left: 6.955%;
}

#gifSuggest #gifSuggest2,
#gifSuggest #gifSuggest3,
#gifSuggest #gifSuggest4 {
  margin-left: 0.5565%;
}

#gifSuggest .borderShadowGif {
  margin-right: 0.5565%;
  width: 20.0289%;
  height: 313px;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #8F8F8F;
}

#gifSuggest .borderShadowGif img {
  position: relative;
  right: 30px;
  bottom: 47px;
  left: 4px;
  height: 280px;
  width: 97.22277%;
}

#gifSuggest .hashtagGif {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 700;
  width: 97.22277%;
  height: 24px;
  margin-top: 4px;
  margin-left: 1.3943%;
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

#gifSuggest .buttonCloseGif {
  position: relative;
  z-index: 4;
  bottom: 43px;
  left: 90.9775%;
  width: 16px;
  height: 14px;
  margin-right: 1.786%;
  background-image: url(../../Images/button3.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-top: solid 1px #FFFFFF;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #FFFFFF;
}

#gifSuggest .seeMoreButton {
  position: relative;
  z-index: 5;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
  color: #FFFFFF;
  top: 223px;
  right: 8px;
  width: 81px;
  height: 34px;
  background-color: #4180F6;
  border: solid 1px #4C2F99;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
}

#trendsSection #trends {
  width: 83.45%;
  height: 32px;
  margin-top: 68px;
  margin-left: 6.9541%;
  border: solid 1px #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

#trendsSection #trends::-webkit-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#trendsSection #trends:-ms-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#trendsSection #trends::-ms-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

#trendsSection #trends::placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

.trendsCharge {
  margin-left: 6.955%;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.trendsCharge img {
  position: relative;
  right: 30px;
  bottom: 0px;
  left: 0px;
  height: 298px;
  width: 100%;
}

.trendsCharge #gifSuggest5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.3478%;
  margin-left: 0%;
  height: 304px;
  width: 20.4461%;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.trendsCharge #gifSuggest5 img {
  position: relative;
  z-index: 1;
  left: 3px;
  bottom: 18px;
  height: 100%;
  width: 97.2778%;
  border: dotted #110038 1px;
}

.trendsCharge #gifSuggest5 div {
  position: relative;
  z-index: 4;
  top: 284px;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 700;
  width: 97.2778%;
  height: 24px;
  margin-left: 1.3943%;
  margin-bottom: 4px;
  background: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.trendsCharge #gifSuggest6 {
  margin-left: 0.3478%;
}

.trendsCharge .secondaryTrendsCharge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #B4B4B4;
  height: 298px;
  width: 20.0289%;
  margin-right: 0.5565%;
  margin-left: 0.5565%;
}

.trendsCharge .bigLeftTrendsCharge {
  width: 41.1693%;
  height: 298px;
  margin-right: 0.5565%;
  margin-left: 0%;
  background: #B4B4B4;
}

.trendsCharge .bigLeftTrendsCharge img {
  width: 100%;
  height: 100%;
}

.trendsCharge .bigRightTrendsCharge {
  width: 41.1693%;
  height: 298px;
  margin-right: 0.5565%;
  margin-left: 0.5565%;
  background: #B4B4B4;
}

.trendsCharge .bigRightTrendsCharge img {
  width: 100%;
  height: 100%;
}

.trendsCharge #gifSuggest12,
.trendsCharge #gifSuggest15,
.trendsCharge #gifSuggest22,
.trendsCharge #gifSuggest25 {
  margin-left: 0px;
}
/*# sourceMappingURL=Styles2.css.map */