body .light {
  background-color: #faf1f9;
}

body .light #title {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

body .light #title h1 {
  color: #FFFFFF;
}

body .light #content #buttonZone div #buttonOne {
  background-color: #F7C9F3;
  color: #110038;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #buttonZone div #buttonOne:active, body .light #content #buttonZone div #buttonOne:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content #buttonZone div #buttonOne a {
  color: #110038;
}

body .light #content #buttonZone div #buttonTwo #buttonChooseTheme {
  background-color: #F7C9F3;
  color: #110038;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #buttonZone div #buttonTwo #buttonChooseTheme:active, body .light #content #buttonZone div #buttonTwo #buttonChooseTheme:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content #buttonZone div #buttonTwo #dropDown {
  background-color: #F7C9F3;
  color: #110038;
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #buttonZone div #buttonTwo #dropDown:active, body .light #content #buttonZone div #buttonTwo #dropDown:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content #buttonZone #menuThemes {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

body .light #content #buttonZone #menuThemes .day {
  background-color: #F0F0F0;
  border: #808080 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .light #content #buttonZone #menuThemes .day:hover {
  background-color: #FFF4FD;
  border: #CCA6C9 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #buttonZone #menuThemes .night {
  background-color: #F0F0F0;
  border: #808080 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .light #content #buttonZone #menuThemes .night:hover {
  background-color: #FFF4FD;
  border: #CCA6C9 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content a {
  text-decoration: none;
}

body .light #content a #linkMyGifos {
  color: #110038;
}

body .light #content a #linkMyGifos:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content a #linkMyGifos:active {
  color: #B4B4B4;
}

body .light #content #searchBox {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
}

body .light #content #searchBox #searchBoxTitle {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: inset 2px 0 0 0 #E6E6E6, inset 0 4px 0 0 #E6E6E6, inset -2px 0 0 0 #E6E6E6;
          box-shadow: inset 2px 0 0 0 #E6E6E6, inset 0 4px 0 0 #E6E6E6, inset -2px 0 0 0 #E6E6E6;
  border-right: solid #B4B4B4 2px;
}

body .light #content #searchBox h2 {
  padding-left: 6px;
  color: #FFFFFF;
  border-top: #FFFFFF solid 2px;
}

body .light #content #searchBox #mySearch {
  padding-left: 16px;
  caret-color: #4180F6;
  color: #110038;
  border: solid 1px #979797;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
          box-shadow: inset -1px -1px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
}

body .light #content #searchBox #mySearch:focus ~ #buttonSearch {
  background-color: red;
}

body .light #content #searchBox::-webkit-input-placeholder {
  color: #B4B4B4;
}

body .light #content #searchBox:-ms-input-placeholder {
  color: #B4B4B4;
}

body .light #content #searchBox::-ms-input-placeholder {
  color: #B4B4B4;
}

body .light #content #searchBox::placeholder {
  color: #B4B4B4;
}

body .light #content #buttonSearch {
  background-color: #E6E6E6;
  color: #B4B4B4;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #buttonSearch:active {
  background-color: #E6BBE2;
  border: #110038 solid 1px;
  -webkit-box-shadow: inset -1px -1xp 0 0 #997D97, inset 1px1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1xp 0 0 #997D97, inset 1px1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content #buttonSearch:active #buttonContent {
  color: #110038;
}

body .light #content #buttonSearch:active #buttonContent #mGlassImage {
  display: none;
}

body .light #content #buttonSearch:active #buttonContent #mGlass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .light #content #buttonSearchInput {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body .light #content #subMenuSearch {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #subMenuSearch button {
  background-color: #E6E6E6;
  color: #110038;
}

body .light #content #subMenuSearch #Result1 {
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #subMenuSearch #Result1:hover {
  background-color: #DBDBDB;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content #subMenuSearch #Result2 {
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #subMenuSearch #Result2:hover {
  background-color: #DBDBDB;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content #subMenuSearch #Result3 {
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .light #content #subMenuSearch #Result3:hover {
  background-color: #DBDBDB;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content #buttonsContainer button {
  color: #FFFFFF;
  background-color: #4180F6;
  border: #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, 2px 2px 0 0 #FFFFFF;
}

body .light #content #suggestions #suggest {
  padding-left: 7px;
  border: solid 1px #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
  caret-color: #4180F6;
  color: #110038;
}

body .light #content #suggestions #suggest::-webkit-input-placeholder {
  color: #110038;
}

body .light #content #suggestions #suggest:-ms-input-placeholder {
  color: #110038;
}

body .light #content #suggestions #suggest::-ms-input-placeholder {
  color: #110038;
}

body .light #content #suggestions #suggest::placeholder {
  color: #110038;
}

body .light #content #gifSuggest .borderShadowGif {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
}

body .light #content #gifSuggest .borderShadowGif img:hover {
  outline: 1px dotted #110038;
  outline-offset: -1px;
}

body .light #content #gifSuggest p {
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .light #content #gifSuggest .buttonCloseGif {
  background-image: url(../../Images/button3.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-top: solid 1px #FFFFFF;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #FFFFFF;
}

body .light #content #gifSuggest .seeMoreButton {
  color: #FFFFFF;
  background-color: #4180F6;
  border: solid 1px #4C2F99;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
}

body .light #content #gifSuggest .seeMoreButton:hover {
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

body .light #content #trendsSection #trends {
  padding-left: 7px;
  border: solid 1px #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
  caret-color: #4180F6;
  color: #110038;
}

body .light #content #trendsSection #trends::-webkit-input-placeholder {
  color: #110038;
}

body .light #content #trendsSection #trends:-ms-input-placeholder {
  color: #110038;
}

body .light #content #trendsSection #trends::-ms-input-placeholder {
  color: #110038;
}

body .light #content #trendsSection #trends::placeholder {
  color: #110038;
}

body .light #content .trendsCharge .chargeSmall:hover {
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content .trendsCharge .chargeSmall:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .light #content .trendsCharge .chargeSmall p {
  color: #FFFFFF;
  -webkit-transform: translateY(277px);
          transform: translateY(277px);
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .light #content .trendsCharge .bigLeftTrendsCharge {
  color: #FFFFFF;
}

body .light #content .trendsCharge .bigLeftTrendsCharge:hover {
  width: 50%;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content .trendsCharge .bigLeftTrendsCharge:hover img {
  width: 98.6%;
}

body .light #content .trendsCharge .bigLeftTrendsCharge:hover p {
  padding-left: 2px;
  width: 98.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .light #content .trendsCharge .bigLeftTrendsCharge p {
  -webkit-transform: translateY(275px);
          transform: translateY(275px);
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .light #content .trendsCharge .bigRightTrendsCharge {
  color: #FFFFFF;
}

body .light #content .trendsCharge .bigRightTrendsCharge:hover {
  margin-right: 0.3478%;
  margin-left: 0.3478%;
  width: 50%;
  height: 298px;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .light #content .trendsCharge .bigRightTrendsCharge:hover img {
  position: absolute;
  z-index: 1;
  width: 98.5%;
  top: 4px;
  left: 4px;
}

body .light #content .trendsCharge .bigRightTrendsCharge:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2px;
  width: 98.2%;
}

body .light #content .trendsCharge .bigRightTrendsCharge p {
  -webkit-transform: translateY(275px);
          transform: translateY(275px);
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}
/*# sourceMappingURL=sailorDay.css.map */