body {
  margin: 0%;
  padding: 0%;
  border: 0%;
  background-color: #faf1f9;
}

body #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  width: 100%;
  height: 23px;
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

body #title h1 {
  font-size: 12px;
  margin-left: 0.4867%;
  font-family: "Chakra Petch";
  font-weight: 400;
  color: #FFFFFF;
}

body #buttonZone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 118px;
}

body #buttonZone #logotipe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 91px;
  margin-left: 6.3288%;
  padding-left: 0.5565%;
  padding-right: 0.2504%;
}

body #buttonZone #buttonOne {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.1137%;
  margin-left: 47.6637%;
  height: 36px;
  width: 10.0139%;
  background-color: #F7C9F3;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body #buttonZone #buttonOne:active {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #buttonZone #buttonOne:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #buttonZone #buttonOne a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #110038;
  width: 100%;
  height: 100%;
}

body #buttonZone #buttonTwo {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  width: 11.8915%;
  border: none;
  background-color: transparent;
  padding: 0px;
}

body #buttonZone #buttonTwo #buttonChooseTheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 77%;
  height: 34px;
  padding: 0%;
  background-color: #F7C9F3;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body #buttonZone #buttonTwo #buttonChooseTheme:active {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #buttonZone #buttonTwo #buttonChooseTheme:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #buttonZone #buttonTwo #dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 22.22%;
  height: 34px;
  padding: 0%;
  background-color: #F7C9F3;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: #110038 outset 1px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body #buttonZone #buttonTwo #dropDown:active {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #buttonZone #buttonTwo #dropDown:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #buttonZone #menuThemes {
  display: none;
  position: absolute;
  top: 89px;
  right: 15.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6E6E6;
  width: 11.82%;
  height: 102px;
  padding-left: 0px;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  list-style: none;
}

body #buttonZone #menuThemes .day {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 36px;
  background-color: #F0F0F0;
  border: #808080 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  color: #110038;
}

body #buttonZone #menuThemes .day:hover {
  background-color: #FFF4FD;
  border: #CCA6C9 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body #buttonZone #menuThemes .night {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 36px;
  background-color: #F0F0F0;
  border: #808080 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  color: #110038;
}

body #buttonZone #menuThemes .night:hover {
  background-color: #FFF4FD;
  border: #CCA6C9 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.1474%;
}

body #linkMyGifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

body #linkMyGifos:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #linkMyGifos:active {
  color: #B4B4B4;
}

body #searchBox {
  background-color: #E6E6E6;
  width: 83.45%;
  height: 99px;
  margin-left: 6.9%;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
}

body #searchBox #searchBoxTitle {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: inset 2px 0 0 0 #E6E6E6, inset 0 4px 0 0 #E6E6E6, inset -2px 0 0 0 #E6E6E6;
          box-shadow: inset 2px 0 0 0 #E6E6E6, inset 0 4px 0 0 #E6E6E6, inset -2px 0 0 0 #E6E6E6;
  border-right: solid #B4B4B4 2px;
  width: 99.5%;
  margin-left: 0.25%;
}

body #searchBox h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Chakra Petch";
  font-weight: bold;
  font-size: 14px;
  height: 24px;
  width: 100%;
  border-top: #FFFFFF solid 2px;
}

body #searchBox #formSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #searchBox #mySearch {
  caret-color: #4180F6;
  color: #110038;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
  width: 88.08%;
  height: 48px;
  margin-left: 15px;
  border: solid 1px #979797;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
          box-shadow: inset -1px -1px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
  list-style: lower-alpha;
}

body #searchBox::-webkit-input-placeholder {
  padding-left: 1.3333%;
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #searchBox:-ms-input-placeholder {
  padding-left: 1.3333%;
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #searchBox::-ms-input-placeholder {
  padding-left: 1.3333%;
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #searchBox::placeholder {
  padding-left: 1.3333%;
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #buttonSearch {
  text-align: center;
  margin-left: 8px;
  width: 8.5%;
  height: 36px;
  background-color: #E6E6E6;
  color: #B4B4B4;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body #buttonSearch:active {
  background-color: #E6BBE2;
  border: #110038 solid 1px;
  -webkit-box-shadow: inset -1px -1xp 0 0 #997D97, inset 1px1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1xp 0 0 #997D97, inset 1px1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #buttonSearch:active #buttonContent {
  color: #110038;
}

body #buttonSearch:active #buttonContent #mGlassImage {
  display: none;
}

body #buttonSearch:active #buttonContent #mGlass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #buttonSearch #buttonContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #buttonSearch #buttonContent #mGlassImageDark {
  display: none;
}

body #buttonSearch #buttonContent #mGlass {
  display: none;
}

body #buttonSearch #buttonContent #mGlassLight {
  display: none;
}

body #buttonSearchInput {
  text-align: center;
  margin-left: 8px;
  width: 8.5%;
  height: 36px;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

body #subMenuSearch {
  position: relative;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 160px;
  background-color: #E6E6E6;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  display: none;
}

body #subMenuSearch button {
  background-color: #E6E6E6;
  width: 87.9166%;
  height: 34px;
  margin-left: 1.3333%;
  font-size: 16px;
  font-family: "Chakra Petch";
  color: #110038;
}

body #subMenuSearch #Result1 {
  margin-top: 17px;
  text-align: left;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body #subMenuSearch #Result1:hover {
  background-color: #DBDBDB;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #subMenuSearch #Result2 {
  text-align: left;
  margin-top: 11px;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body #subMenuSearch #Result2:hover {
  background-color: #DBDBDB;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #subMenuSearch #Result3 {
  text-align: left;
  margin-top: 10px;
  background-color: #f0f0f0;
  border: solid 1px #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body #subMenuSearch #Result3:hover {
  background-color: #DBDBDB;
  border: #808080 1PX solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #suggestions #suggest {
  height: 32px;
  width: 83.45%;
  margin-left: 6.9%;
  margin-top: 76px;
  border: solid 1px #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
  caret-color: #4180F6;
  color: #110038;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #suggestions #suggest::-webkit-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #suggestions #suggest:-ms-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #suggestions #suggest::-ms-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #suggestions #suggest::placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #gifSuggest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 19px;
}

body #gifSuggest #gifSuggest1 {
  margin-left: 6.955%;
}

body #gifSuggest #gifSuggest2,
body #gifSuggest #gifSuggest3,
body #gifSuggest #gifSuggest4 {
  margin-left: 0.5565%;
}

body #gifSuggest .borderShadowGif {
  margin-right: 0.5565%;
  width: 20.0289%;
  height: 313px;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #B4B4B4;
}

body #gifSuggest .borderShadowGif img {
  position: relative;
  right: 30px;
  bottom: 47px;
  left: 4px;
  height: 280px;
  width: 97.22277%;
}

body #gifSuggest .borderShadowGif img:hover {
  outline: 1px dotted #110038;
  outline-offset: -1px;
}

body #gifSuggest p {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 700;
  width: 97.22277%;
  height: 24px;
  margin-top: 4px;
  margin-left: 1.3943%;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body #gifSuggest .buttonCloseGif {
  position: relative;
  z-index: 4;
  bottom: 43px;
  left: 90.9775%;
  width: 16px;
  height: 14px;
  margin-right: 1.786%;
  background-image: url(../../Images/button3.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-top: solid 1px #FFFFFF;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #FFFFFF;
}

body #gifSuggest .seeMoreButton {
  position: relative;
  z-index: 5;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
  color: #FFFFFF;
  top: 223px;
  right: 8px;
  width: 81px;
  height: 34px;
  background-color: #4180F6;
  border: solid 1px #4C2F99;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
          box-shadow: inset 2px 2px 0 0 #FFFFFF, inset -2px -2px 0 0 #284F99;
}

body #gifSuggest .seeMoreButton:hover {
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

body #trendsSection #trends {
  width: 83.45%;
  height: 32px;
  margin-top: 68px;
  margin-left: 6.9541%;
  border: solid 1px #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #ECDCE4, inset 2px 2px 0 0 #80687D;
  caret-color: #4180F6;
  color: #110038;
  font-size: 16px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #trendsSection #trends::-webkit-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #trendsSection #trends:-ms-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #trendsSection #trends::-ms-input-placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body #trendsSection #trends::placeholder {
  color: #110038;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 400;
}

body .trendsCharge {
  margin-left: 6.955%;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .trendsCharge img {
  position: relative;
  right: 30px;
  bottom: 0px;
  left: 0px;
  height: 298px;
  width: 100%;
}

body .trendsCharge img:hover {
  outline: 1px dotted #110038;
  outline-offset: -1px;
}

body .trendsCharge #gifSuggest5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.5565%;
  margin-left: 0%;
  height: 298px;
  width: 20.0289%;
  background-color: #E6E6E6;
}

body .trendsCharge #gifSuggest5:hover {
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-right: 0.3478%;
  width: 20.4461%;
  height: 304px;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .trendsCharge #gifSuggest5:hover img {
  position: relative;
  z-index: 1;
  left: 3px;
  bottom: 18px;
  height: 100%;
  width: 97.2778%;
}

body .trendsCharge #gifSuggest5:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .trendsCharge #gifSuggest5 img {
  height: 100%;
  width: 100%;
}

body .trendsCharge #gifSuggest5 p {
  display: none;
  position: relative;
  z-index: 3;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 700;
  width: 97.2778%;
  height: 24px;
  margin-left: 1.3943%;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-transform: translateY(277px);
          transform: translateY(277px);
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .trendsCharge .secondaryTrendsCharge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #E6E6E6;
  height: 298px;
  width: 20.0289%;
  margin-right: 0.5565%;
  margin-left: 0.5565%;
}

body .trendsCharge .secondaryTrendsCharge:hover {
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-right: 0.3478%;
  width: 20.4461%;
  height: 304px;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .trendsCharge .secondaryTrendsCharge:hover img {
  position: absolute;
  z-index: 1;
  left: 4px;
  bottom: 2px;
  height: 98%;
  width: 97.2778%;
}

body .trendsCharge .secondaryTrendsCharge:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .trendsCharge .secondaryTrendsCharge img {
  height: 100%;
  width: 100%;
}

body .trendsCharge .secondaryTrendsCharge p {
  display: none;
  position: relative;
  z-index: 3;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Chakra Petch";
  font-weight: 700;
  width: 97.2778%;
  height: 24px;
  margin-left: 1.3943%;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-transform: translateY(277px);
          transform: translateY(277px);
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .trendsCharge .bigLeftTrendsCharge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 41.1693%;
  height: 298px;
  margin-right: 0.5565%;
  margin-left: 0%;
  background: #E6E6E6;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  font-family: "Chakra Petch";
}

body .trendsCharge .bigLeftTrendsCharge:hover {
  margin-right: 0.3478%;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 41.5865%;
  height: 304px;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .trendsCharge .bigLeftTrendsCharge:hover img {
  position: absolute;
  z-index: 1;
  width: 99%;
  height: 98%;
  top: 3px;
  left: 3px;
}

body .trendsCharge .bigLeftTrendsCharge:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .trendsCharge .bigLeftTrendsCharge img {
  width: 100%;
  height: 100%;
}

body .trendsCharge .bigLeftTrendsCharge p {
  display: none;
  position: relative;
  z-index: 5;
  -webkit-transform: translateY(275px);
          transform: translateY(275px);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 0.7%;
  height: 24px;
  width: 98.7%;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .trendsCharge .bigRightTrendsCharge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 41.1693%;
  height: 298px;
  margin-right: 0.5565%;
  margin-left: 0.5565%;
  background: #E6E6E6;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  font-family: "Chakra Petch";
}

body .trendsCharge .bigRightTrendsCharge:hover {
  margin-right: 0.3478%;
  margin-left: 0.3478%;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 41.5865%;
  height: 304px;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body .trendsCharge .bigRightTrendsCharge:hover img {
  position: absolute;
  z-index: 1;
  width: 99%;
  height: 98%;
  top: 3px;
  left: 3px;
}

body .trendsCharge .bigRightTrendsCharge:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .trendsCharge .bigRightTrendsCharge img {
  width: 100%;
  height: 100%;
}

body .trendsCharge .bigRightTrendsCharge p {
  display: none;
  position: relative;
  z-index: 5;
  -webkit-transform: translateY(275px);
          transform: translateY(275px);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 0.7%;
  height: 24px;
  width: 98.7%;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .trendsCharge #gifSuggest8 p,
body .trendsCharge #gifSuggest11 p,
body .trendsCharge #gifSuggest18 p,
body .trendsCharge #gifSuggest21 p,
body .trendsCharge #gifSuggest28 p {
  width: 97%;
  bottom: 0px;
}

body .trendsCharge #gifSuggest14 p,
body .trendsCharge #gifSuggest24 p {
  width: 98.4%;
  left: 0.3px;
}

body .trendsCharge #gifSuggest12,
body .trendsCharge #gifSuggest15,
body .trendsCharge #gifSuggest22,
body .trendsCharge #gifSuggest25 {
  margin-left: 0px;
}
/*# sourceMappingURL=Styles.css.map */