body {
  margin: 0%;
  padding: 0%;
  border: 0%;
  background-color: #faf1f9;
}

body #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  width: 100%;
  height: 23px;
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

body #title h1 {
  font-size: 12px;
  margin-left: 0.4867%;
  font-family: "Chakra Petch";
  font-weight: 400;
  color: #FFFFFF;
}

body #buttonZone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 118px;
}

body #buttonZone #arrowBack {
  margin-left: 6.3288%;
}

body #buttonZone #logotipe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 91px;
  padding-left: 0.5565%;
  padding-right: 0.2504%;
}

body #menuSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #menuSection #menuContainer {
  position: relative;
  width: 47.5%;
  height: 386px;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

body #menuSection #menuContainer h1 {
  position: relative;
  margin-top: 0px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  font-family: "Chakra Petch";
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body #menuSection #menuContainer #here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #menuSection #menuContainer #here img {
  width: 32px;
  height: 32px;
}

body #menuSection #menuContainer #here h2 {
  margin-left: 16px;
  color: #110038;
  font-size: 16px;
  font-weight: 700;
  font-family: "Chakra Petch";
}

body #menuSection #menuContainer p {
  color: #110038;
  margin-left: 73px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Chakra Petch";
  line-height: 20px;
}

body #menuSection #menuContainer #listCreateGifs {
  list-style: none;
  margin-left: 33px;
  color: #110038;
  font-size: 14px;
  font-weight: 400;
  font-family: "Chakra Petch";
  line-height: 20px;
}

body #menuSection #buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-left: 0px;
}

body #menuSection #buttonsContainer button {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 133px;
  height: 36px;
  margin-left: 16px;
  background-color: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
}

body #menuSection #buttonsContainer button:active {
  background-color: #F7C9F3;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #menuSection #buttonsContainer button:hover {
  background-color: #F7C9F3;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body #menuSection #buttonsContainer button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #110038;
  height: 100%;
  width: 100%;
}

body #suggestions {
  width: 83.4492%;
  margin-top: 153px;
  margin-left: 6.9541%;
}

body #suggestions #suggest {
  width: 100%;
}
/*# sourceMappingURL=preCatch.css.map */