body {
  margin: 0%;
  padding: 0%;
  border: 0%;
  background-color: #faf1f9;
}

body #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  width: 100%;
  height: 23px;
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

body #title h1 {
  font-size: 12px;
  margin-left: 0.4867%;
  font-family: "Chakra Petch";
  font-weight: 400;
  color: #FFFFFF;
}

body #buttonZone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 118px;
}

body #buttonZone #arrowBack {
  margin-left: 6.3288%;
}

body #buttonZone #logotipe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 91px;
  padding-left: 0.5565%;
  padding-right: 0.2504%;
}

#videoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 268pxs;
}

#videoContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 59.3880%;
  height: 548px;
  background-color: #E6E6E6;
}

#videoContainer div h1 {
  position: relative;
  width: 98%;
  height: 24px;
  margin-top: 0px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  font-family: "Chakra Petch";
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

#videoContainer div h1 #buttonClose {
  background-image: url(../../Images/button3.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  margin-left: 74%;
}

#videoContainer div #showCapture {
  width: 90%;
  height: 548;
  background-color: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

#videoContainer div #showCapture #video {
  width: 100%;
  height: 100%;
}

#videoContainer div #showCapture #gif {
  width: 100%;
  height: 100%;
}

#videoContainer div #showCapture #globe {
  display: none;
  width: 48px;
  height: 48px;
}

#videoContainer div #catchButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 12.7955%;
  height: 36px;
  margin: 0px;
  padding: 0px;
}

#videoContainer div #catchButton #cameraButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #catchButton #Button {
  width: 70%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  background-color: #F7C9F3;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: 1px solid #110038;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #recordButton {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 12.7955%;
  height: 36px;
  margin: 0px;
  padding: 0px;
}

#videoContainer div #recordButton #circleButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  background-color: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #recordButton #readyButton {
  width: 70%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  background-color: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #stopButton {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 12.7955%;
  height: 36px;
  margin: 0px;
  padding: 0px;
}

#videoContainer div #stopButton #buttonTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  background-color: #61ff88;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #stopButton #buttonThree {
  width: 70%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  background-color: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #repeat {
  display: none;
  color: #110038;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  background-color: #FFF4FD;
}

#videoContainer div #upload {
  display: none;
  color: #110038;
  width: 70%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  background-color: #FFF4FD;
}

#videoContainer div #cancel {
  display: none;
  width: 144px;
  height: 32px;
}
/*# sourceMappingURL=catch.css.map */