body {
  margin: 0%;
  padding: 0%;
  border: 0%;
  background-color: #faf1f9;
}

body #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  width: 100%;
  height: 23px;
  -webkit-box-shadow: inset 0 -1px 0 0 #110038;
          box-shadow: inset 0 -1px 0 0 #110038;
}

body #title h1 {
  font-size: 12px;
  margin-left: 0.4867%;
  font-family: "Chakra Petch";
  font-weight: 400;
  color: #FFFFFF;
}

body #buttonZone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 118px;
}

body #buttonZone #arrowBack {
  margin-left: 6.3288%;
}

body #buttonZone #logotipe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 91px;
  padding-left: 0.5565%;
  padding-right: 0.2504%;
}

#videoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 268px;
}

#videoContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 59.4%;
  height: 548px;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#videoContainer div h1 {
  position: relative;
  padding-left: 4px;
  width: 98.5%;
  height: 24px;
  margin-top: 3px;
  margin-left: 4px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  font-family: "Chakra Petch";
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

#videoContainer div h1 #buttonClose {
  position: absolute;
  top: 1.5px;
  right: 4px;
  background-image: url(../../Images/button3.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  margin-left: 74%;
}

#videoContainer div #showCapture {
  width: 96%;
  height: 434px;
  margin-left: 11px;
  background-color: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

#videoContainer div #showCapture #video {
  margin: 0px;
  -o-object-fit: fill;
     object-fit: fill;
}

#videoContainer div #showCapture #gif {
  width: 100%;
  height: 100%;
}

#videoContainer div #showCapture #uploadingGif {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 434px;
  background-color: #FFFFFF;
  color: #110038;
  font-family: "Chakra Petch";
  font-size: 16px;
  font-weight: bold;
}

#videoContainer div #showCapture #uploadingGif #globe {
  display: none;
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

#videoContainer div #showCapture #uploadingGif #uploading {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  width: 37%;
  height: 24PX;
  margin-top: 41px;
  -webkit-box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
          box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
  background-color: #B4B4B4;
}

#videoContainer div #showCapture #uploadingGif #uploading #pinkBar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F7C9F3;
  height: 20px;
  width: 0;
  margin-top: 2px;
  margin-left: 3px;
  padding-left: 10px;
  border-right: #F7C9F3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#videoContainer div #showCapture #uploadingGif #uploading span {
  z-index: 3;
  width: 5.8%;
  height: 20px;
  border-right: 2px #E6E6E6 solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

#videoContainer div #post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#videoContainer div #post #catchButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background-color: transparent;
  width: 21%;
  height: 36px;
  margin-top: 21px;
  margin-left: 76.9%;
  padding: 0px;
}

#videoContainer div #post #catchButton #cameraButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #post #catchButton #cameraButton:hover {
  background-color: #F7C9F3;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#videoContainer div #post #catchButton #Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  background-color: #F7C9F3;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: 1px solid #110038;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #post #catchButton #Button:hover {
  background-color: #F7C9F3;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#videoContainer div #post #chrono {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  margin-left: 1.3%;
  border: #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 14.4%;
  height: 36px;
}

#videoContainer div #post #stopButton {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background-color: transparent;
  width: 21%;
  height: 36px;
  margin-top: 21px;
  margin-left: 61%;
  padding: 0px;
}

#videoContainer div #post #stopButton #buttonTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  background-color: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #post #stopButton #buttonThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 32px;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  background-color: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #post #play {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 2.3%;
  height: 20px;
  margin-left: 2.8%;
  background-image: url(../../Images/forward.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, 1px 1px 0 0 #FFFFFF;
}

#videoContainer div #post #charging {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  width: 28%;
  height: 24PX;
  margin-left: 4px;
  -webkit-box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
          box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
  background-color: #B4B4B4;
}

#videoContainer div #post #charging #pinksCharge {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F7C9F3;
  height: 20px;
  width: 0;
  margin-top: 2px;
  margin-left: 3px;
  padding-left: 4px;
  border-right: #F7C9F3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#videoContainer div #post #charging span {
  z-index: 3;
  width: 5.8%;
  height: 20px;
  border-right: 2px #E6E6E6 solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

#videoContainer div #post #repeat {
  display: none;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 16.7%;
  height: 32px;
  margin-top: 33px;
  margin-left: 13.5%;
  margin-bottom: 34px;
  padding: 0px;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  background-color: #FFF4FD;
}

#videoContainer div #post #repeat:hover {
  background-color: #F7C9F3;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#videoContainer div #post #upload {
  display: none;
  color: #110038;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 16.7%;
  height: 32px;
  margin-top: 33px;
  margin-left: 1.6%;
  margin-bottom: 34px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  background-color: #FFF4FD;
}

#videoContainer div #post #upload:hover {
  background-color: #F7C9F3;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

#videoContainer div #post #cancel {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 16.7%;
  height: 36px;
  color: #110038;
  font-size: 16px;
  font-weight: 400;
  font-family: "Chakra Petch";
  margin-left: 650px;
  background-color: #FFF4FD;
  border: solid 1px #110038;
  -webkit-box-shadow: inset -2ps -2ps 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2ps -2ps 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#videoContainer div #post #cancel:hover {
  background-color: #F7C9F3;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}
/*# sourceMappingURL=catch.css.map */